[report]
omit =
    /home/rof/python3_venv/lib/python3.4/site-packages/*
    /home/rof/.virtualenv/lib/python2.7/site-packages/*
    /home/rof/python3_venv/lib/python3.4/distutils/__init__.py
    /Library/Python/2.7/site-packages/*
    /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/*
    ./*/test_*.py
    ./test_*.py
    ./*__init__.py

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    sys.version_info < (3,0):