[Config]
Name=Mojo
Admin=1111111
AdminName=Someone
Users=1234,1235
Telbot=123456
OpenWeatherMapKey=abcdefg
OpenExchangeRatesKey=1234
RouterIP=192.168.1.254
MacAddresses=X,Y
BraillespeakPort=/dev/ttyUSB0